<h1>Assignments</h1>

<table>
  <thead>
    <tr>
      <th>Date Assigned</th>
      <th>Date Due</th>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th>Completed Work URL</th>
      <th>Assignment Comments</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>06/15/2014</td>
      <td>06/16/2014</td>
      <td>Fuck You</td>
      <td>Who Cares</td>
      <td>Stupid</td>
      <td>www.why.com</td>
      <td>Piece of Shit</td>
      <td>Button 1</td>
      <td>Button 2</td>
    </tr>    
  </tbody>
</table>
