* {
	color: #824232;
}

body{
	background-color: #eaebd8;
	padding-right: 10px;
	padding-left: 10px;
	font-family: 'Muli', sans-serif;
}

.Signup {
	line-height: 1.25
}

.Signup li {
    padding-bottom: 10px;
}

.Sign_Form {
	text-align: center;
	margin:auto;
	margin-top:10px;
	width:500px;
	background-color: rgb(113, 189, 191);
	padding-bottom:20px;
	padding-top:2px;
	border-radius: 18px;
	box-shadow: 5px 5px 5px #4e3737;

}

.Signup_Errors {
	list-style-type: none;
	text-align:left;
	margin-left:66px;
	color:red;
}

.Main_Header {
	background-color: rgb(113, 189, 191);
	padding: 0 20px;
	height:90px;
	border-radius: 18px;
	box-shadow: 5px 5px 5px #824232;

}

.Main_Header h1 {
	float:left;
	width: 415px;
	margin-top: 8px;
	padding: 20px;
	color: #824232;
	height:43px;
	/*width:215px;*/
	/*text-indent:-9999px;*/
}

.Main_Header img {
	float:left;
	margin-top: 12px;
	padding-right: 10px;
}

.Main_Header h2 {
	margin-top: 0px;
	padding-right: 2px;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	display: inline
}

.nav {
	list-style-type: none;
	float: right;
	margin-top: 35px;
	display: block;
	color:#824232;

}
.nav li {
	font-size: 18px;
	display: inline;
	margin-right:5px;

}

.nav h2 {

}
.nav_links {
	color: #824232;
	text-decoration: none;
}

.notice, .valid_notice, .invalid_notice {
	height:35px;
	width: 500px;
	margin:auto;
	margin-top:20px;
	margin-bottom: 10px;
}
.notice p, .invalid_notice p, .valid_notice p {
	font-size: 16px;
	text-align:center;
	margin-top:6px;
}

.notice {
	background-color: transparent;
}

.invalid_notice {
	background-color: #fda055;
	border:1px solid red;
}
.valid_notice {
	background-color: #CCFFCC;
	border:1px solid green;
}

.User_Header {
	background-color: rgba(0, 0, 0, .2);
	border-radius: 18px;
	margin:auto;
	width:220px;
	text-align:center;
}

.listing {
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		width: 100%;
}

.listing table {
		border-collapse: collapse;
}

.listing td, .listing th {
		font-size: 1em;
		border: 1px solid #824232;
		padding: 3px 7px 2px 7px;
}

.listing th {
		font-size: 1.1em;
		text-align: left;
		padding-top: 5px;
		padding-bottom: 4px;
		background-color: rgb(113, 189, 191);
		color: #824232;
}

.listing tr.alt td {
		color: #824232;
		background-color: rgb(180, 228, 221);
}

.overdue {
		background-color: #fda055;
}
